* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    background-image: url(../assets/mountains-universe-3.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100vh;
}

header {
    height: 122px;
    display: flex;
    padding-inline: 72px;
    align-items: center;
    gap: 46px;
    margin-bottom: 64px;
    
    ul {

        display: flex;
        list-style: none;
        gap: 46px;

        a {
            text-decoration: none;
            font-size: 22px;
            color: #c4c4cc;
        }

        .ativa {
            color: #ffffff;
            font-weight: bold;
        }
    }
}

main {
    color: #e1e1e6;
    margin-left: 102px;

    h1 {
        margin-bottom: 16px;
        font-size: 48px;
        line-height: 125%;
    }

    p {
        max-width: 648px;
        line-height: 160%;
        font-size: 18px;
    }
}
